@model EnrollModel

@{
    ViewData["Title"] = "Enroll";
}


<h4>Enroll form</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Enroll" asp-controller="Department" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label">Student Id</label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course Id</label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPaymentComplete" /> @Html.DisplayNameFor(model => model.IsPaymentComplete)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Enroll" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>