<div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/admin/img/mizan.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Md Mizanur Rahman</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-graduation-cap"></i>
              <p>
                Department
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-action="Create" asp-controller="Department" class="nav-link">
                  <i class="fas fa-user-cog nav-icon"></i>
                  <p>Department Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-action="Data" asp-controller="Department" class="nav-link">
                  <i class="fa fa-table nav-icon"></i>
                  <p>Departments Table</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
                Student
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-action="Create" asp-controller="Student" class="nav-link">
                  <i class="fas fa-user-plus nav-icon"></i>
                  <p>Student Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-action="Data" asp-controller="Student" class="nav-link">
                  <i class="fa fa-table nav-icon"></i>
                  <p>Students Table</p>
                </a>
              </li>
            </ul>
          </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-book-open"></i>
              <p>
                Course
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a asp-action="Create" asp-controller="Course" class="nav-link">
                  <i class="fa fa-book nav-icon"></i>
                  <p>Courses Add</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-action="Data" asp-controller="Course" class="nav-link">
                  <i class="fa fa-table nav-icon"></i>
                  <p>Courses Table</p>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>