<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/Admin/img/MPT.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Maliha Poly Tex</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user-graduate"></i>
                        <p>
                            Student
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Student/Create" class="nav-link">
                                <i class="nav-icon fa fa-plus"></i>
                                <p>
                                    Add
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Student/Data" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Data
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fas fa-book-open"></i>
                        <p>
                            Course
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Course/Create" class="nav-link">
                                <i class="nav-icon fa fa-plus"></i>
                                <p>
                                    Add
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Course/Data" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Data
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fas fas fa-university"></i>
                        <p>
                            Department
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Department/Create" class="nav-link">
                                <i class="nav-icon fa fa-plus"></i>
                                <p>
                                    Add
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Department/Data" class="nav-link">
                                <i class="nav-icon fas fa-table"></i>
                                <p>
                                    Data
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Department/Enroll" class="nav-link">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Enroll
                                </p>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a href="/Department/Form" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Form
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>